
<p id="notice"><%= notice %></p>

<h1>Projects</h1>


<div class ="row">
<%=form_for Instance.new(), url: project_instance_path   do |f| %>
 <%=f.label :description%>
 <%=f.text_field :description%>
 <%=text_field_tag "timer", nil,class: "timer", placeholder: "0 seg"%>
  <a class="start-timer-btn" >Inicio</a>
 <a class="pause-timer-btn" >Pausa</a>
 <%=f.select :project_id,  options_from_collection_for_select(@projects, 'id', 'name')%>
<script>
      (function(){
      var hasTimer = false;
      // Init timer start
      $('.start-timer-btn').on('click', function() {
        hasTimer = true;
        $('.timer').timer({
          editable: true
        });
        $(this).addClass('hidden');
        $('.pause-timer-btn, .remove-timer-btn').removeClass('hidden');
      });

      // Init timer resume
      $('.resume-timer-btn').on('click', function() {
        $('.timer').timer('resume');
        $(this).addClass('hidden');
        $('.pause-timer-btn, .remove-timer-btn').removeClass('hidden');
      });


      // Init timer pause
      $('.pause-timer-btn').on('click', function() {
        $('.timer').timer('pause');
        $(this).addClass('hidden');
        $('.resume-timer-btn').removeClass('hidden');
      });

      // Remove timer
      $('.remove-timer-btn').on('click', function() {
        hasTimer = false;
        $('.timer').timer('remove');
        $(this).addClass('hidden');
        $('.start-timer-btn').removeClass('hidden');
        $('.pause-timer-btn, .resume-timer-btn').addClass('hidden');
      });

      // Additional focus event for this demo
      $('.timer').on('focus', function() {
        if(hasTimer) {
          $('.pause-timer-btn').addClass('hidden');
          $('.resume-timer-btn').removeClass('hidden');
        }
      });

      // Additional blur event for this demo
      $('.timer').on('blur', function() {
        if(hasTimer) {
          $('.pause-timer-btn').removeClass('hidden');
          $('.resume-timer-btn').addClass('hidden');
        }
      });
    })();
  </script>
<%=f.submit "Finalizar"%>
<%end%>

</div>

<%= link_to "Open modal", "#loginModal", :class => "btn", "data-toggle" => "modal" %>

 
<br>

<table>
  <thead>
    <tr>
    <th colspan="3">Projecto</th>
    <th colspan="3">Turnos</th>
      <th colspan="3">Tiempos</th>
    </tr>
  </thead>

  <tbody>
    <% @instances.each do |instance| %>
      <tr>
      <td colspan="3"><%=instance.project.name%></td>
       <td colspan="3"><%=instance.instance_times.count%></td>
       <td colspan="3"><%=instance.sum_time%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="modal fade" id="loginModal">
   <%=form_for Project.new do |f|%>
     <%=f.label :name, "Nombre"%>
     <%=f.text_field :name,placeholder: "nombre"%>
     <%= f.submit%>
   <%end%>
</div>


