<p id="notice"><%= notice %></p>

<h1>Instance Times</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @instance_times.each do |instance_time| %>
      <tr>
        <td><%= link_to 'Show', instance_time %></td>
        <td><%= link_to 'Edit', edit_instance_time_path(instance_time) %></td>
        <td><%= link_to 'Destroy', instance_time, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Instance Time', new_instance_time_path %>
